
@model TravelNexus.Web.DashboardModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .select2.select2-container {
        width: 245px !important;
    }

    .select2-container--default .select2-selection--single {
        border: 1px solid #01b7f2 !important;
    }

    .br {
        display: block !important;
        margin-top: -1em !important;
    }
</style>
<section id="content" class="gray-area">
    <div class="container">
        <div id="main">
            <div class="tab-container full-width-style arrow-left dashboard">
                <ul class="tabs" id="myTab">
                    <li class="active"><a data-toggle="tab" href="#dashboard"><i class="soap-icon-anchor circle"></i>Dashboard</a></li>
                    <li><a data-toggle="tab" href="#partners"><i class="soap-icon-user circle"></i>Partners</a></li>
                    <li><a data-toggle="tab" href="#booking"><i class="soap-icon-businessbag circle"></i>Booking</a></li>
                    <li><a data-toggle="tab" href="#packages"><i class="soap-icon-wishlist circle"></i>Packages</a></li>
                    <li><a data-toggle="tab" href="#nexusNews"><i class="soap-icon-wishlist circle"></i>Nexus News</a></li>
                    <li><a data-toggle="tab" href="#popHotels"><i class="soap-icon-wishlist circle"></i>Popular Hotels</a></li>
                    <li><a data-toggle="tab" href="#popHotelsRequest"><i class="soap-icon-wishlist circle"></i>Popular Hotel<span class="br">Requests</span></a></li>
                    <li><a data-toggle="tab" href="#favDests"><i class="soap-icon-wishlist circle"></i>Favaourite <span class="br">Destination</span></a></li>
                    <li><a data-toggle="tab" href="#travel-stories"><i class="soap-icon-conference circle"></i>Travel Stories</a></li>
                    <li><a data-toggle="tab" href="#settings"><i class="soap-icon-settings circle"></i>Settings</a></li>
                    <li><a data-toggle="tab" href="#smtpconfig"><i class="soap-icon-letter-1 circle"></i>SMTP Configuration</a></li>
                    <li><a data-toggle="tab" href="#mailmanag"><i class="soap-icon-letter circle"></i>Mail Management</a></li>
                    <li><a data-toggle="tab" href="#ourservicemanag"><i class="soap-icon-letter circle"></i>Our Service <span class="br">Management</span></a></li>
                    <li><a data-toggle="tab" href="#frontendmanag"><i class="soap-icon-television circle"></i>Front End <span class="br">Management</span></a></li>
                    <li><a data-toggle="tab" href="#currmanag"><i class="soap-icon-plans circle"></i>Currencies Management</a></li>
                    <li><a data-toggle="tab" href="#tax"><i class="soap-icon-plans circle"></i>Taxes Management</a></li>

                </ul>
                <div class="tab-content">
                    <div id="dashboard" class="tab-pane fade in active">
                        <h1 class="no-margin skin-color">Hi Jessica, Welcome to Travelo!</h1>
                        <p>All your trips booked with us will appear here and you’ll be able to manage everything!</p>
                        <br />
                        <div class="row block">
                            <div class="col-sm-6 col-md-3">
                                <a href="hotel-list-view.html">
                                    <div class="fact blue">
                                        <div class="numbers counters-box">
                                            <dl>
                                                <dt class="display-counter" data-value="3200">0</dt>
                                                <dd>Hotels to Stay</dd>
                                            </dl>
                                            <i class="icon soap-icon-hotel"></i>
                                        </div>
                                        <div class="description">
                                            <i class="icon soap-icon-longarrow-right"></i>
                                            <span>View Hotels</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <a href="flight-list-view.html">
                                    <div class="fact yellow">
                                        <div class="numbers counters-box">
                                            <dl>
                                                <dt class="display-counter" data-value="4509">0</dt>
                                                <dd>Airlines to Travel</dd>
                                            </dl>
                                            <i class="icon soap-icon-plane"></i>
                                        </div>
                                        <div class="description">
                                            <i class="icon soap-icon-longarrow-right"></i>
                                            <span>View Flights</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <a href="car-list-view.html">
                                    <div class="fact red">
                                        <div class="numbers counters-box">
                                            <dl>
                                                <dt class="display-counter" data-value="3250">0</dt>
                                                <dd>VIP Transports</dd>
                                            </dl>
                                            <i class="icon soap-icon-car"></i>
                                        </div>
                                        <div class="description">
                                            <i class="icon soap-icon-longarrow-right"></i>
                                            <span>View Cars</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm-6 col-md-3">
                                <a href="cruise-list-view.html">
                                    <div class="fact green">
                                        <div class="numbers counters-box">
                                            <dl>
                                                <dt class="display-counter" data-value="1570">0</dt>
                                                <dd>Celebrity Cruises</dd>
                                            </dl>
                                            <i class="icon soap-icon-cruise flip-effect"></i>
                                        </div>
                                        <div class="description">
                                            <i class="icon soap-icon-longarrow-right"></i>
                                            <span>View Cruises</span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="notification-area">
                            <div class="info-box block">
                                <span class="close"></span>
                                <p>This is your Dashboard, the place to check your Profile, respond to Reservation Requests, view upcoming Trip Information, and much more.</p>
                                <br />
                                <ul class="circle">
                                    <li><span class="skin-color">Learn How It Works</span> — Watch a short video that shows you how Travelo works.</li>
                                    <li><span class="skin-color">Get Help</span> — View our help section and FAQs to get started on Travelo. </li>
                                </ul>
                            </div>
                        </div>

                        <div class="row block">
                            <div class="col-md-6 notifications">
                                <h2>Notifications</h2>
                                <a href="#">
                                    <div class="icon-box style1 fourty-space">
                                        <i class="soap-icon-plane-right takeoff-effect yellow-bg"></i>
                                        <span class="time pull-right">JUST NOW</span>
                                        <p class="box-title">London to Paris flight in <span class="price">$120</span></p>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="icon-box style1 fourty-space">
                                        <i class="soap-icon-hotel blue-bg"></i>
                                        <span class="time pull-right">10 Mins ago</span>
                                        <p class="box-title">Hilton hotel &amp; resorts in <span class="price">$247</span></p>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="icon-box style1 fourty-space">
                                        <i class="soap-icon-car red-bg"></i>
                                        <span class="time pull-right">39 Mins ago</span>
                                        <p class="box-title">Economy car for 2 days in <span class="price">$39</span></p>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="icon-box style1 fourty-space">
                                        <i class="soap-icon-cruise green-bg"></i>
                                        <span class="time pull-right">1 hour ago</span>
                                        <p class="box-title">Baja Mexico 4 nights in <span class="price">$537</span></p>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="icon-box style1 fourty-space">
                                        <i class="soap-icon-hotel blue-bg"></i>
                                        <span class="time pull-right">2 hours ago</span>
                                        <p class="box-title">Roosevelt hotel in <span class="price">$170</span></p>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="icon-box style1 fourty-space">
                                        <i class="soap-icon-hotel blue-bg"></i>
                                        <span class="time pull-right">3 hours ago</span>
                                        <p class="box-title">Cleopatra Resort in <span class="price">$247</span></p>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="icon-box style1 fourty-space">
                                        <i class="soap-icon-car red-bg"></i>
                                        <span class="time pull-right">3 hours ago</span>
                                        <p class="box-title">Elite Car per day in <span class="price">$48.99</span></p>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="icon-box style1 fourty-space">
                                        <i class="soap-icon-cruise green-bg"></i>
                                        <span class="time pull-right">last night</span>
                                        <p class="box-title">Rome to Africa 1 week in <span class="price">$875</span></p>
                                    </div>
                                </a>
                                <a href="#">
                                    <div class="load-more">. . . . . . . . . . . . . </div>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <h2>Recent Activity</h2>
                                <div class="recent-activity">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="icon soap-icon-plane-right circle takeoff-effect yellow-color"></i>
                                                <span class="price"><small>avg/person</small>$120</span>
                                                <h4 class="box-title">
                                                    Indianapolis to Paris<small>Oneway flight</small>
                                                </h4>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon soap-icon-car circle red-color"></i>
                                                <span class="price"><small>per day</small>$45.39</span>
                                                <h4 class="box-title">
                                                    Economy Car<small>bmw mini</small>
                                                </h4>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon soap-icon-cruise circle green-color"></i>
                                                <span class="price"><small>from</small>$578</span>
                                                <h4 class="box-title">
                                                    Jacksonville to Asia<small>4 nights</small>
                                                </h4>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon soap-icon-hotel circle blue-color"></i>
                                                <span class="price"><small>Avg/night</small>$620</span>
                                                <h4 class="box-title">
                                                    Hilton Hotel &amp; Resorts<small>Paris france</small>
                                                </h4>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon soap-icon-hotel circle blue-color"></i>
                                                <span class="price"><small>avg/night</small>$170</span>
                                                <h4 class="box-title">
                                                    Roosevelt Hotel<small>new york</small>
                                                </h4>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="icon soap-icon-plane-right circle takeoff-effect yellow-color"></i>
                                                <span class="price"><small>avg/person</small>$348</span>
                                                <h4 class="box-title">
                                                    Mexico to England<small>return flight</small>
                                                </h4>
                                            </a>
                                        </li>
                                    </ul>
                                    <a href="#" class="button green btn-small full-width">VIEW ALL ACTIVITIES</a>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-4">
                                <h4>Benefits of Tavelo Account</h4>
                                <ul class="benefits triangle hover">
                                    <li><a href="#">Faster bookings with lesser clicks</a></li>
                                    <li><a href="#">Track travel history &amp; manage bookings</a></li>
                                    <li class="active"><a href="#">Manage profile &amp; personalize experience</a></li>
                                    <li><a href="#">Receive alerts &amp; recommendations</a></li>
                                </ul>
                            </div>
                            <div class="col-md-4 previous-bookings image-box style14">
                                <h4>Your Previous Bookings</h4>
                                <article class="box">
                                    <figure class="no-padding">
                                        <a title="" href="#">
                                            <img alt="" src="http://placehold.it/63x59" width="63" height="59">
                                        </a>
                                    </figure>
                                    <div class="details">
                                        <h5 class="box-title"><a href="#">Half-Day Island Tour</a><small class="fourty-space"><span class="price">$35</span> Family Package</small></h5>
                                    </div>
                                </article>
                                <article class="box">
                                    <figure class="no-padding">
                                        <a title="" href="#">
                                            <img alt="" src="http://placehold.it/63x59" width="63" height="59">
                                        </a>
                                    </figure>
                                    <div class="details">
                                        <h5 class="box-title"><a href="#">Ocean Park Tour</a><small class="fourty-space"><span class="price">$26</span> Per Person</small></h5>
                                    </div>
                                </article>
                            </div>
                            <div class="col-md-4">
                                <h4>Need Travelo Help?</h4>
                                <div class="contact-box">
                                    <p>We would be more than happy to help you. Our team advisor are 24/7 at your service to help you.</p>
                                    <address class="contact-details">
                                        <span class="contact-phone"><i class="soap-icon-phone"></i> 1-800-123-HELLO</span>
                                        <br>
                                        <a class="contact-email" href="#">help@travelo.com</a>
                                    </address>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="partners" class="tab-pane fade">
                        <div class="view-profile">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Phone Number</th>
                                        <th>Comercial Register</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Partners != null && Model.Partners.Count > 0)
                                    {
                                        foreach (var user in Model.Partners)
                                        {
                                            if (!user.IsApproved)
                                            {
                                                <tr class="notapprove" style="background: #337ab7;color: #FFF">
                                                    <td>@user.CompanyName</td>
                                                    <td>@user.Email</td>
                                                    <td>@user.PhoneNumber</td>
                                                    <td>
                                                        <a href="@user.CommercialRegister" target="_blank">Commercial Register</a>
                                                    </td>
                                                    <td>
                                                        <form class="d-inline" action="ApproveUser" method="post">
                                                            <input type="hidden" name="Id" value="@user.Id" />
                                                            <input type="number" name="TaxCard" />
                                                            <input type="submit" class="btn btn-danger" value="approve" />
                                                        </form>
                                                    </td>
                                                </tr>
                                            }
                                            else
                                            {
                                                <tr class="notapprove">
                                                    <td>@user.CompanyName</td>
                                                    <td>@user.Email</td>
                                                    <td>@user.PhoneNumber</td>
                                                    <td>
                                                        <a href="@user.CommercialRegister" target="_blank">Commercial Register</a>
                                                    </td>
                                                    <td>
                                                        <form class="d-inline" action="" method="post">
                                                            <input type="hidden" name="Id" value=">@user.Id" />
                                                            <input type="text" name="TaxCard" value="@user.TaxCard" />
                                                            <input type="submit" class="btn btn-primary" value="Change" />
                                                        </form>
                                                    </td>
                                                </tr>
                                            }

                                        }
                                    }
                                    else
                                    {

                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="booking" class="tab-pane fade">
                        <h2>Booked Trips</h2>
                        <div class="filter-section gray-area clearfix">
                            <form>
                                <label class="radio radio-inline">
                                    <input type="radio" name="filter" checked="checked" />
                                    All Types
                                </label>
                                <label class="radio radio-inline">
                                    <input type="radio" name="filter" />
                                    Hotels
                                </label>

                                <div class="pull-right col-md-6 action">
                                    <h5 class="pull-left no-margin col-md-4">Sort results by:</h5>
                                    <button class="btn-small white gray-color">UPCOMING</button>
                                    <button class="btn-small white gray-color">CANCELLED</button>
                                </div>
                            </form>
                        </div>
                        <div class="booking-history">

                            @if (Model.fawaters != null && Model.fawaters.Count > 0)
                            {
                                foreach (var fatora in Model.fawaters)
                                {
                                    <form action="EditInvoice/@fatora.Id" method="post">
                                        <div class="booking-info clearfix">
                                            <div class="date">
                                                <label class="month">@fatora.CreationDate.Day</label>
                                                <label class="date">@fatora.CreationDate.Month</label>
                                                <label class="day">@fatora.CreationDate.Year</label>
                                            </div>
                                            <h4 class="box-title"><i class="icon soap-icon-plane-right takeoff-effect yellow-color circle"></i>@fatora.FatoraDescription<small></small></h4>
                                            <dl class="info">
                                                <dt>RESERVATION ID</dt>
                                                <dd>@fatora.UserId-@fatora.Id-@fatora.ReservationId</dd>
                                                <dt>BOOKED ON</dt>
                                                <dd>@fatora.CreationDate.ToLongDateString()</dd>
                                            </dl>
                                            @if (fatora.isDeleted == false)
                                            {
                                                <input type="submit" class="btn-mini status" value="EDIT" />
                                            }
                                            else
                                            {
                                                <input type="submit" disabled class="btn-mini status" value="Out of Date" />

                                            }
                                        </div>
                                    </form>
                                }
                            }
                            else
                            {
                                <div class="" style="margin-top:80px">

                                    <h1 class="text-center">No Booking Items Yet.</h1>
                                </div>
                            }
                        </div>

                    </div>
                    <div id="packages" class="tab-pane fade">
                        <a class="btn btn-primary pull-right fa fa-plus-square" title="Add new package" href="AddPackage"></a>
                        <h2>Created Packages List</h2>
                        <div class="clearfix"></div>
                        <form>
                            <label class="radio radio-inline">
                                <input type="radio" id="RAvPcks" name="filter" checked="checked" value="1" />
                                Available Packages
                            </label>
                            <label class="radio radio-inline">
                                <input type="radio" id="RArcPcks" name="filter" value="2" />
                                Archived Packages
                            </label>
                            <label class="radio radio-inline">
                                <input type="radio" id="ROutPcks" name="filter" value="3" />
                                Out Of Dated Packages
                            </label>
                            <label class="radio radio-inline">
                                <input type="radio" id="RDelPcks" name="filter" value="4" />
                                Deleted Packages
                            </label>
                        </form>

                        <div id="Pcks1" class="row image-box listing-style2 add-clearfix descA active in">

                            @if (Model.pcksModel != null && Model.pcksModel.Count > 0)
                            {

                                foreach (var pck in Model.pcksModel)
                                {
                                    <div class="col-sm-6 col-md-4">
                                        <article class="box">
                                            <figure>
                                                <a class="hover-effect" title="@pck.Title" href="#"><img width="@pck.Width" height="@pck.Height" alt="No Images Found" src="@pck.MainImageName"></a>
                                            </figure>
                                            <form action="PackageDetatils/@pck.Id" method="post">
                                                <input type="submit" class="pull-right button uppercase" value="SELECT" />
                                            </form>
                                            <form action="#" method="get">
                                                <input type="submit" class="pull-right button uppercase" value="EDIT" />
                                            </form>
                                            <form action="PackageArchive/@pck.Id" method="post">
                                                <input type="submit" class="pull-right button uppercase" value="ARCHIVE" />
                                            </form>
                                            <form action="PackageDelete/@pck.Id" method="post">
                                                <input type="submit" class="pull-right button uppercase" value="DELETE" />
                                            </form>
                                            <div class="details">
                                                <h4 class="box-title">@pck.Title</h4>
                                                <label class="price-wrapper">
                                                    <span class="price-per-unit">@pck.Price</span>L.E
                                                </label>
                                            </div>
                                        </article>
                                    </div>

                                }
                            }
                            else
                            {
                                <div class="" style="margin-top:80px">

                                    <h1 class="text-center">No Available New Packages Yet.</h1>
                                </div>
                            }
                        </div>
                        <div id="Pcks3" class="row image-box listing-style2 add-clearfix descA collapse" style="display: none;">

                            @if (Model.outPcksModel != null && Model.outPcksModel.Count > 0)
                            {

                                foreach (var pck in Model.outPcksModel)
                                {
                                    <div class="col-sm-6 col-md-4">
                                        <article class="box">
                                            <figure>
                                                <a class="hover-effect" title="@pck.Title" href="#"><img width="@pck.Width" height="@pck.Height" alt="No Images Found" src="@pck.MainImageName"></a>
                                            </figure>
                                            <form action="PackageDetatils/@pck.Id" method="post">
                                                <input type="submit" class="pull-right button uppercase" value="SELECT" />
                                            </form>
                                            <form action="#" method="post">
                                                <input type="submit" class="pull-right button uppercase" value="EDIT" />
                                            </form>
                                            <form action="PackageDelete/@pck.Id" method="post">
                                                <input type="submit" class="pull-right button uppercase" value="DELETE" />
                                            </form>
                                            <div class="details">
                                                <h4 class="box-title">@pck.Title</h4>
                                                <label class="price-wrapper">
                                                    <span class="price-per-unit">@pck.Price</span>L.E
                                                    <span class="pe-7s-note danger">Out Of Dated</span>
                                                </label>
                                            </div>
                                        </article>
                                    </div>

                                }
                            }
                            else
                            {
                                <div class="" style="margin-top:80px">

                                    <h1 class="text-center">No Out Of Dated Packages Yet.</h1>
                                </div>
                            }
                        </div>
                        <div id="Pcks2" class="row image-box listing-style2 add-clearfix descA collapse" style="display: none;">

                            @if (Model.arcPcksModel != null && Model.arcPcksModel.Count > 0)
                            {

                                foreach (var pck in Model.arcPcksModel)
                                {
                                    <div class="col-sm-6 col-md-4">
                                        <article class="box">
                                            <figure>
                                                <a class="hover-effect" title="@pck.Title" href="#"><img width="@pck.Width" height="@pck.Height" alt="No Images Found" src="@pck.MainImageName"></a>
                                            </figure>
                                            <form action="PackageDetatils/@pck.Id" method="post">
                                                <input type="submit" class="pull-right button uppercase" value="SELECT" />
                                            </form>
                                            <form action="#" method="post">
                                                <input type="submit" class="pull-right button uppercase" value="EDIT" />
                                            </form>
                                            <form action="PackageDelete/@pck.Id" method="post">
                                                <input type="submit" class="pull-right button uppercase" value="DELETE" />
                                            </form>
                                            <div class="details">
                                                <h4 class="box-title">@pck.Title</h4>
                                                <label class="price-wrapper">
                                                    <span class="price-per-unit">@pck.Price</span>L.E
                                                    <span class="pe-7s-note danger">Archived</span>
                                                </label>
                                            </div>
                                        </article>
                                    </div>

                                }
                            }
                            else
                            {
                                <div class="" style="margin-top:80px">

                                    <h1 class="text-center">No Archived Of Dated Packages Yet.</h1>
                                </div>
                            }
                        </div>
                        <div id="Pcks4" class="row image-box listing-style2 add-clearfix descA collapse" style="display: none;">

                            @if (Model.deletedPcksModel != null && Model.deletedPcksModel.Count > 0)
                            {

                                foreach (var pck in Model.deletedPcksModel)
                                {
                                    <div class="col-sm-6 col-md-4">
                                        <article class="box">
                                            <figure>
                                                <a class="hover-effect" title="@pck.Title" href="#"><img width="@pck.Width" height="@pck.Height" alt="No Images Found" src="@pck.MainImageName"></a>
                                            </figure>
                                            <form action="PackageDetatils/@pck.Id" method="post">
                                                <input type="submit" class="pull-right button uppercase" value="SELECT" />
                                            </form>
                                            <form action="#" method="post">
                                                <input type="submit" class="pull-right button uppercase" value="EDIT" />
                                            </form>
                                            <div class="details">
                                                <h4 class="box-title">@pck.Title</h4>
                                                <label class="price-wrapper">
                                                    <span class="price-per-unit">@pck.Price</span>L.E
                                                    <span class="pe-7s-note danger">Deleted</span>
                                                </label>
                                            </div>
                                        </article>
                                    </div>

                                }
                            }
                            else
                            {
                                <div class="" style="margin-top:80px">

                                    <h1 class="text-center">No Deleted Packages Yet.</h1>
                                </div>
                            }
                        </div>


                    </div>
                    <div id="nexusNews" class="tab-pane fade">
                        <a class="btn btn-primary pull-right fa fa-plus-square" title="Add new package" href="AddNews"></a>
                        <h2 class="lead">Created News List</h2>
                        <div class="clearfix"></div>

                        <div id="News" class="row image-box listing-style2 add-clearfix descA active in">

                            @if (Model.nexusNews != null && Model.nexusNews.Count > 0)
                            {

                                for (int i = 0; i < Model.nexusNews.Count; i++)
                                {
                                    <div class="col-sm-6 col-md-4">
                                        <article class="box">
                                            <figure>
                                                <a class="hover-effect" title="@Model.nexusNews[i].Title" href="#"><img width="@Model.nexusNews[i].Width" height="@Model.nexusNews[i].Height" alt="No Images Found" src="@Model.nexusNews[i].FolderImgsName"></a>
                                            </figure>

                                            <input type="button" data-toggle="modal" data-target="#Modalnews-@i" class="pull-right button uppercase" value="SELECT" />

                                            <form action="NewsDelete/@Model.nexusNews[i].Id" method="post">
                                                <input type="submit" class="pull-right button uppercase" value="DELETE" />
                                            </form>
                                            <div class="details">
                                                <h4 class="box-title">@Model.nexusNews[i].Title</h4>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="modal fade" id="Modalnews-@i" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title">Nexus News</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <p>@Html.Raw(Model.nexusNews[i].DescriptionFileName)</p>
                                                    <img title="Test Pack" class="image-100" src="@Model.nexusNews[i].FolderImgsName" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                }
                            }
                            else
                            {
                                <div class="" style="margin-top:80px">

                                    <h1 class="lead text-center">No Available News Yet.</h1>
                                </div>
                            }
                        </div>



                    </div>
                    <div id="popHotels" class="tab-pane fade">
                        <a class="btn btn-primary pull-right fa fa-plus-square" title="Add new package" href="AddPopularHotel"></a>
                        <h2 class="lead">Created Popular Hotels List</h2>
                        <div class="clearfix"></div>

                        <div id="News" class="row image-box listing-style2 add-clearfix descA active in">

                            @if (Model.popHotels != null && Model.popHotels.Count > 0)
                            {

                                foreach (var popHotel in Model.popHotels)
                                {
                                    <div class="col-sm-6 col-md-4">
                                        <article class="box">
                                            <figure>
                                                <a class="hover-effect" title="@popHotel.HotelName" href="#"><img width="@popHotel.Width" height="@popHotel.Height" alt="No Images Found" src="@popHotel.MainIamgeName"></a>
                                            </figure>
                                            <form action="popHotelDetails/@popHotel.Id" method="post">
                                                <input type="submit" class="pull-right button uppercase" value="SELECT" />
                                            </form>

                                            <form action="PopHotelDelete/@popHotel.Id" method="post">
                                                <input type="submit" class="pull-right button uppercase" value="DELETE" />
                                            </form>
                                            <div class="details">
                                                <h4 class="box-title">@popHotel.HotelName</h4>
                                            </div>
                                        </article>
                                    </div>

                                }
                            }
                            else
                            {
                                <div class="" style="margin-top:80px">

                                    <h1 class="lead text-center">No Available Popular Hotels Yet.</h1>
                                </div>
                            }
                        </div>



                    </div>


                    <div id="popHotelsRequest" class="tab-pane fade">

                        <h2>Popular Hotel Requests</h2>
                        <div class="booking-history">

                            <table class="table text-center">
                                <thead>
                                    <tr>
                                        <th scope="col" class="text-center">Client</th>
                                        <th scope="col" class="text-center">phone</th>
                                        <th scope="col" class="text-center">go to</th>
                                        <th scope="col" class="text-center">No. Of adults</th>
                                        <th scope="col" class="text-center">No. Of kids</th>
                                        <th scope="col" class="text-center">No. Of rooms</th>
                                        <th scope="col" class="text-center">From</th>
                                        <th scope="col" class="text-center">To</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.HotelRequests != null && Model.HotelRequests.Count > 0)
                                    {

                                        foreach (var request in Model.HotelRequests)
                                        {
                                    <tr>
                                        <td>@request.User.FirstName @request.User.LastName</td>
                                        <td>@request.HotelRequests.MPhone</td>
                                        @if (request.Hotel != null)
                                        {
                                            <td>@request.Hotel.HotelName</td>
                                        }
                                        else
                                        {
                                            <td></td>

                                        }

                                        <td>@request.HotelRequests.NumOfAdults</td>
                                        <td>@request.HotelRequests.NumOfKids</td>
                                        <td>@request.HotelRequests.NumOfRooms</td>
                                        <td>@request.HotelRequests.CheckIn.ToString("dd/MM/yyyy")</td>
                                        <td>@request.HotelRequests.CheckOut.ToString("dd/MM/yyyy")</td>
                                    </tr>
                                        }
                                    }
                                    else
                                    {
                                        <div class="" style="margin-top:80px">

                                            <h1 class="text-center">No Hotel Requests available Yet.</h1>
                                        </div>
                                    }
                                </tbody>
                            </table>

                           
                        </div>


                    </div>


                    <div id="favDests" class="tab-pane fade">
                        <a class="btn btn-primary pull-right fa fa-plus-square" title="Add new package" href="AddFavDest"></a>
                        <h2 class="lead">Created Favaourite Destination List</h2>
                        <div class="clearfix"></div>

                        <div id="News" class="row image-box listing-style2 add-clearfix descA active in">

                            @if (Model.favDests != null && Model.favDests.Count > 0)
                            {

                                foreach (var favDest in Model.favDests)
                                {
                                    <div class="col-sm-6 col-md-4">
                                        <article class="box">
                                            <figure>
                                                <a class="hover-effect" title="@favDest.DestinationName" href="#"><img width="@favDest.Width" height="@favDest.Height" alt="No Images Found" src="@favDest.ImgName"></a>
                                            </figure>
                                            <form action="FavDestDelete/@favDest.Id" method="post">
                                                <input type="submit" class="pull-right button uppercase" value="DELETE" />
                                            </form>
                                            <div class="details">
                                                <h4 class="box-title">@favDest.Description</h4>
                                            </div>
                                        </article>
                                    </div>

                                }
                            }
                            else
                            {
                                <div class="" style="margin-top:80px">

                                    <h1 class="lead text-center">No Available Popular Hotels Yet.</h1>
                                </div>
                            }
                        </div>



                    </div>
                    <div id="travel-stories" class="tab-pane fade">
                        <h2>Share Your Story</h2>
                        <div class="col-sm-9 no-float no-padding">
                            <form>
                                <div class="row form-group">
                                    <div class="col-sms-6 col-sm-6">
                                        <label>Story Title</label>
                                        <input type="text" class="input-text full-width">
                                    </div>
                                    <div class="col-sms-6 col-sm-6">
                                        <label>Name</label>
                                        <input type="text" class="input-text full-width">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-sms-6 col-sm-6">
                                        <label>Select Miles</label>
                                        <div class="selector full-width">
                                            <select>
                                                <option>4,528 Miles</option>
                                                <option>5,218 Miles</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sms-6 col-sm-6">
                                        <label>Email Address</label>
                                        <input type="text" class="input-text full-width">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-sms-6 col-sm-6">
                                        <label>Select Category</label>
                                        <div class="selector full-width">
                                            <select>
                                                <option value="">Adventure, Romance, Beach</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Type Your Story</label>
                                    <textarea rows="6" class="input-text full-width" placeholder="please tell us about you"></textarea>
                                </div>
                                <hr>
                                <div class="form-group">
                                    <h4>Do you have photos to share? <small>(Optional)</small> </h4>
                                    <div class="fileinput col-sm-6 no-float no-padding">
                                        <input type="file" class="input-text" data-placeholder="select image/s" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <h4>Share with friends <small>(Optional)</small></h4>
                                    <p>Share your review with your friends on different social media networks.</p>
                                    <ul class="social-icons icon-circle clearfix">
                                        <li class="twitter"><a title="Twitter" href="#" data-toggle="tooltip"><i class="soap-icon-twitter"></i></a></li>
                                        <li class="facebook"><a title="Facebook" href="#" data-toggle="tooltip"><i class="soap-icon-facebook"></i></a></li>
                                        <li class="googleplus"><a title="GooglePlus" href="#" data-toggle="tooltip"><i class="soap-icon-googleplus"></i></a></li>
                                        <li class="pinterest"><a title="Pinterest" href="#" data-toggle="tooltip"><i class="soap-icon-pinterest"></i></a></li>
                                    </ul>
                                </div>
                                <br>
                                <div class="form-group col-sm-5 col-md-4 no-float no-padding no-margin">
                                    <button type="submit" class="btn-medium full-width">SUBMIT REVIEW</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div id="settings" class="tab-pane fade">
                        <form action="APIsConfig" method="post">
                            <div class="row form-group">
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <label>Google API Key</label>
                                    <input type="text" name="GoogleKey" required value="@Model.apisModel.GoogleKey" class="input-text full-width border-button">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <label>Fawaterk API Key</label>
                                    <input type="text" name="FawaterkKey" required value="@Model.apisModel.FawaterkKey" class="input-text full-width border-button">
                                </div>
                            </div>

                            <div class="form-group">
                                <button class="btn-medium">Change</button>
                            </div>
                        </form>
                    </div>
                    <div id="smtpconfig" class="tab-pane fade">
                        <form action="SMTPConfig" method="post">
                            <div class="row form-group">
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <label>API Key:</label>
                                    <input type="text" required name="APIKey" value="@Model.smtpModel.APIKey" class="input-text full-width border-button" />
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <label>Host:</label>
                                    <input type="text" required name="Host" value="@Model.smtpModel.Host" class="input-text full-width border-button" />
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-xs-6 col-sm-6 col-md-4">
                                    <label>Port:</label>
                                    <input type="number" required name="Port" value="@Model.smtpModel.Port" class="input-text full-width border-button">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-xs-6 col-sm-6 col-md-4">
                                    <label>Sender Arabic Name:</label>
                                    <input type="text" required name="SenderArabicName" value="@Model.smtpModel.SenderArabicName" class="input-text full-width border-button">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-xs-6 col-sm-6 col-md-4">
                                    <label>Sender English Name:</label>
                                    <input type="text" required name="SenderEnglishName" value="@Model.smtpModel.SenderEnglishName" class="input-text full-width border-button">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-xs-6 col-sm-6 col-md-4">
                                    <label>Sender Email:</label>
                                    <input type="text" required name="SenderEmail" value="@Model.smtpModel.SenderEmail" class="input-text full-width border-button">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-xs-6 col-sm-6 col-md-4">
                                    <label>Username:</label>
                                    <input type="email" required name="UserName" value="@Model.smtpModel.UserName" class="input-text full-width border-button">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-xs-6 col-sm-6 col-md-4">
                                    <label>Password:</label>
                                    <input type="password" required name="Password" value="@Model.smtpModel.Password" class="input-text full-width border-button">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-xs-6 col-sm-6 col-md-4">
                                    <label>Signature:</label>
                                    <input type="text" name="Signature" value="@Model.smtpModel.Signature" class="input-text full-width border-button">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-xs-6 col-sm-6 col-md-4">
                                    <label>Time Interval:</label>
                                    <input type="text" name="TimeInterval" value="@Model.smtpModel.TimeInterval" class="input-text full-width border-button">
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-xs-6 col-sm-6 col-md-4">
                                    <input type="checkbox" disabled required name="EnableSSL" checked class="input-text full-width border-button">
                                    <label>Enable SSL</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <button class="btn-medium">Change</button>
                            </div>
                        </form>
                    </div>
                    <div id="mailmanag" class="tab-pane fade">
                        <form>
                            <label class="radio radio-inline">
                                <input type="radio" id="RAvPcks" name="filter2" checked="checked" value="1" />
                                Clients Mail List
                            </label>
                            <label class="radio radio-inline">
                                <input type="radio" id="RArcPcks" name="filter2" value="2" />
                                Partners Mail List
                            </label>
                            <label class="radio radio-inline">
                                <input type="radio" id="RArcPcks" name="filter2" value="3" />
                                Mail List Users
                            </label>
                            <label class="radio radio-inline">
                                <input type="radio" id="RDelPcks" name="filter2" value="4" />
                                Send Mail News
                            </label>
                        </form>

                        <div id="Mails2" class="row image-box listing-style2 add-clearfix descB collapse">
                            <a class="btn btn-primary pull-right fa fa-archive" title="Export List" href="#"></a>
                            <h2>Partners</h2>
                            <div class="view-profile">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Phone Number</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.Partners != null && Model.Partners.Count > 0)
                                        {
                                            foreach (var user in Model.Partners)
                                            {
                                                <tr class="notapprove" style="background: #337ab7;color: #FFF">
                                                    <td>@user.CompanyName</td>
                                                    <td>@user.Email</td>
                                                    <td>@user.PhoneNumber</td>
                                                    <td>
                                                        <form class="d-inline" action="SendSpecficMail" method="get">
                                                            <input type="hidden" name="Email" value="@user.Email" />
                                                            <input type="submit" class="btn btn-primary" value="Send Mail" />
                                                        </form>
                                                    </td>
                                                </tr>

                                                if (!user.IsApproved)
                                                {
                                                    <tr class="notapprove" style="background: #337ab7;color: #FFF">
                                                        <td>@user.CompanyName</td>
                                                        <td>@user.Email</td>
                                                        <td>@user.PhoneNumber</td>
                                                        <td>
                                                            <form class="d-inline" action="SendSpecficMail" method="get">
                                                                <input type="hidden" name="Email" value="@user.Email" />
                                                                <input type="submit" class="btn btn-danger" value="Send Mail" />
                                                            </form>
                                                        </td>
                                                    </tr>
                                                }
                                                else
                                                {
                                                    <tr class="notapprove">
                                                        <td>@user.CompanyName</td>
                                                        <td>@user.Email</td>
                                                        <td>@user.PhoneNumber</td>
                                                        <td>
                                                            <form class="d-inline" action="SendSpecficMail" method="get">
                                                                <input type="hidden" name="Email" value="@user.Email" />
                                                                <input type="submit" class="btn btn-primary" value="Send Mail" />
                                                            </form>
                                                        </td>
                                                    </tr>
                                                }


                                            }
                                        }
                                        else
                                        {

                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div id="Mails1" class="row image-box listing-style2 add-clearfix descB active in">
                            <a class="btn btn-primary pull-right fa fa-archive" title="Export List" href="#"></a>
                            <h2>Clients</h2>
                            <div class="view-profile">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Phone Number</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.Clients != null && Model.Clients.Count > 0)
                                        {
                                            foreach (var user in Model.Clients)
                                            {
                                                <tr class="notapprove" style="background: #337ab7;color: #FFF">
                                                    <td>@user.FirstName</td>
                                                    <td>@user.Email</td>
                                                    <td>@user.PhoneNumber</td>
                                                    <td>
                                                        <form class="d-inline" action="SendSpecficMail" method="get">
                                                            <input type="hidden" name="Email" value="@user.Email" />
                                                            <input type="submit" class="btn btn-primary" value="Send Mail" />
                                                        </form>
                                                    </td>
                                                </tr>


                                            }
                                        }
                                        else
                                        {

                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                        <div id="Mails4" class="row image-box listing-style2 add-clearfix descB collapse">
                            <h2>Mail News</h2>
                            <form action="MailNews" method="post">
                                <div class="row form-group">
                                    <div class="col-xs-12 col-sm-6 col-md-4">
                                        <label>Subject:</label>
                                        <input type="text" required name="Subject" class="input-text full-width border-button" />
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-xs-6 col-sm-6 col-md-4">
                                        <label>Html Body:</label>
                                        <textarea name="Body" required rows="20" cols="60"></textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn-medium pull-right fa fa-4x btn btn-primary" value="Send" />
                                </div>
                            </form>
                        </div>
                        <div id="Mails3" class="row image-box listing-style2 add-clearfix descB collapse">
                            <a class="btn btn-primary pull-right fa fa-archive" title="Export List" href="#"></a>
                            <h2>Mail List Users</h2>
                            <div class="view-profile">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Email</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (Model.MailNewsUsers != null && Model.MailNewsUsers.Count > 0)
                                        {
                                            foreach (var user in Model.MailNewsUsers)
                                            {
                                                <tr class="notapprove" style="background: #337ab7;color: #FFF">
                                                    <td>@user.Id</td>
                                                    <td>@user.Email</td>
                                                    <td>
                                                        <form class="d-inline" action="#" method="get">
                                                            <input type="hidden" name="Id" value="@user.Id" />
                                                            <input type="submit" class="btn btn-danger" value="Delete" />
                                                        </form>
                                                    </td>
                                                </tr>


                                            }
                                        }
                                        else
                                        {

                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div id="ourservicemanag" class="tab-pane fade">
                        <a class="btn btn-primary pull-right fa fa-plus-square" title="Add new Service" href="AddService"></a>
                        <div id="Ser" class="row image-box listing-style2 add-clearfix descA active in">

                            @if (Model.OurServices != null && Model.OurServices.Count > 0)
                            {

                                foreach (var pck in Model.OurServices)
                                {
                                    <div class="col-sm-6 col-md-4">
                                        <article class="box">
                                            <figure>
                                                <a class="hover-effect" title="@pck.ServiceName" href="#"><img width="270" height="192" alt="No Images Found" src="@pck.ImgName"></a>
                                            </figure>
                                            <div class="details">
                                                <h4 class="box-title">@pck.ServiceName</h4>
                                                <form action="ServiceDelete/@pck.Id" method="post">
                                                    <input type="submit" class="pull-right button uppercase" value="DELETE" />
                                                </form>
                                            </div>
                                        </article>
                                    </div>

                                }
                            }
                            else
                            {
                                <div class="" style="margin-top:80px">
                                    <h1 class="text-center">No Available Services Yet.</h1>
                                </div>
                            }
                        </div>
                    </div>
                    <div id="frontendmanag" class="tab-pane fade">

                    </div>
                    <div id="tax" class="tab-pane fade">
                        <form id="TaxSubmitId">
                            <div class="row form-group">
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <label>B2C Markup</label>
                                    <input type="text" name="NexusTax" class="input-text full-width border-button">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <label>Country</label>
                                    @Html.DropDownList("Country", new SelectList(TravelNexus.Web.Models.CountryVATsConfig._countryVAT, "Value", "Key"), "Select Country", new { @id = "SelectCountryId", @class = "form-control basic-multiple-select2" })
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <label>Tax</label>
                                    <input type="text" id="TaxId" name="CountryVAT" class="input-text full-width border-button">

                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn-medium">Change</button>
                            </div>
                        </form>
                    </div>
                    <div id="currmanag" class="tab-pane fade">
                        <form action="AddCurrency" method="post">
                            <div class="row form-group">
                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <label>Currency Name:</label>
                                    <input type="text" name="CurrName" class="input-text full-width border-button">
                                    <label>Currency Value With Respect To USD:</label>
                                    <input id="decValuesId" type="text" name="CurrValue" class="input-text full-width border-button">
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn-medium">Add</button>
                            </div>
                        </form>
                        <hr />
                        <h2>Currencies</h2>
                        <div class="view-profile">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Value</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model.Currencies != null && Model.Currencies.Count > 0)
                                    {
                                        foreach (var user in Model.Currencies)
                                        {
                                            <tr class="notapprove" style="background: #337ab7;color: #FFF">
                                                <td>@user.Key</td>
                                                <td>@user.Value</td>
                                                <td>
                                                    <form class="d-inline" action="AddCurrency" method="post">
                                                        <input type="hidden" name="CurrName" value="@user.Key" />
                                                        <input id="decValuesId" type="text" name="CurrValue" />
                                                        <input type="submit" class="btn btn-primary" value="Change Value" />
                                                    </form>
                                                </td>
                                            </tr>


                                        }
                                    }
                                    else
                                    {

                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
</section>
@section DashboardPage{
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('input[type=radio][name="filter"]').change(function () {
                var n = $(this).val();
                $("div.descA").hide();
                $("#Pcks" + n).show();
            }
            );
            $('input[type=radio][name="filter2"]').change(function () {
                var n = $(this).val();
                $("div.descB").hide();
                $("#Mails" + n).show();
            }
            );
        });

        $('#decValuesId').keyup(function () {
            this.value = this.value.replace(/[^0-9\.]/g, '');
        });
    </script>


    <script language="javascript" type="text/javascript">



        jQuery('.basic-multiple-select2').select2();



        jQuery("#TaxSubmitId").submit(function (e) {
            e.preventDefault();
            var countryName = jQuery("#SelectCountryId option:selected").text();
            var Tax = jQuery("#TaxId").val();
            jQuery.ajax({
                url: "/AdminManage/UpdateCountryVAT",
                type: "POST",
                data: { countryName: countryName, VAT: Tax },
                success: function (data) {
                },
                error: function (xhr) {
                    alert("error");
                }
            });

        });

    </script>

}
